# General tools
jupyter
matplotlib
numpy
PyYAML
shapely
zipp
pandas

# PyTorch ecosystem
torchmetrics

# Domain-specific / utils
torch-harmonics
kappabenchmark
kappaconfig
kappautils
kappamodules

# ML utils
scikit-learn
wandb

# Meshing 
gmsh
pygmsh

# Design optimization
pymoo
